# Dependencies
/node_modules

# Build artifacts
/dist
/build

# Distributable
laserfocus.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test artifacts
/coverage
/jest-puppeteer-results

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln 